/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * aileron:
 *   - http://typekit.com/eulas/00000000000000003b9b3773
 *   - http://typekit.com/eulas/00000000000000003b9b3774
 *   - http://typekit.com/eulas/00000000000000003b9b3775
 *   - http://typekit.com/eulas/00000000000000003b9b3776
 *   - http://typekit.com/eulas/00000000000000003b9b3777
 *   - http://typekit.com/eulas/00000000000000003b9b3778
 *   - http://typekit.com/eulas/00000000000000003b9b3779
 *   - http://typekit.com/eulas/00000000000000003b9b377a
 *   - http://typekit.com/eulas/00000000000000003b9b377b
 *   - http://typekit.com/eulas/00000000000000003b9b377c
 *   - http://typekit.com/eulas/00000000000000003b9b377d
 *   - http://typekit.com/eulas/00000000000000003b9b377e
 *   - http://typekit.com/eulas/00000000000000003b9b377f
 *   - http://typekit.com/eulas/00000000000000003b9b3780
 *   - http://typekit.com/eulas/00000000000000003b9b3781
 *   - http://typekit.com/eulas/00000000000000003b9b3782
 *
 * © 2009-2020 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2020-05-18 22:48:56 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=nxf5oap&ht=tk&f=43088.43089.43090.43091.43092.43093.43094.43095.43096.43097.43098.43099.43100.43101.43102.43103&a=19397695&app=typekit&e=css");

@font-face {
    font-family:"aileron";
    src:url("https://use.typekit.net/af/405a66/00000000000000003b9b3773/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/405a66/00000000000000003b9b3773/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/405a66/00000000000000003b9b3773/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:100;
}

@font-face {
    font-family:"aileron";
    src:url("https://use.typekit.net/af/60a173/00000000000000003b9b3774/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("woff2"),url("https://use.typekit.net/af/60a173/00000000000000003b9b3774/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("woff"),url("https://use.typekit.net/af/60a173/00000000000000003b9b3774/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:100;
}

@font-face {
    font-family:"aileron";
    src:url("https://use.typekit.net/af/27ff65/00000000000000003b9b3775/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/27ff65/00000000000000003b9b3775/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/27ff65/00000000000000003b9b3775/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:200;
}

@font-face {
    font-family:"aileron";
    src:url("https://use.typekit.net/af/b58b35/00000000000000003b9b3776/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff2"),url("https://use.typekit.net/af/b58b35/00000000000000003b9b3776/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff"),url("https://use.typekit.net/af/b58b35/00000000000000003b9b3776/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:200;
}

@font-face {
    font-family:"aileron";
    src:url("https://use.typekit.net/af/894da4/00000000000000003b9b3777/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/894da4/00000000000000003b9b3777/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/894da4/00000000000000003b9b3777/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
    font-family:"aileron";
    src:url("https://use.typekit.net/af/df2cf1/00000000000000003b9b3778/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/df2cf1/00000000000000003b9b3778/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/df2cf1/00000000000000003b9b3778/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:300;
}

@font-face {
    font-family:"aileron";
    src:url("https://use.typekit.net/af/fd3ce3/00000000000000003b9b3779/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/fd3ce3/00000000000000003b9b3779/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/fd3ce3/00000000000000003b9b3779/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
    font-family:"aileron";
    src:url("https://use.typekit.net/af/ea0bb1/00000000000000003b9b377a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/ea0bb1/00000000000000003b9b377a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/ea0bb1/00000000000000003b9b377a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
    font-family:"aileron";
    src:url("https://use.typekit.net/af/883f67/00000000000000003b9b377b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/883f67/00000000000000003b9b377b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/883f67/00000000000000003b9b377b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:600;
}

@font-face {
    font-family:"aileron";
    src:url("https://use.typekit.net/af/cc8db2/00000000000000003b9b377c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/cc8db2/00000000000000003b9b377c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/cc8db2/00000000000000003b9b377c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:600;
}

@font-face {
    font-family:"aileron";
    src:url("https://use.typekit.net/af/f63880/00000000000000003b9b377d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/f63880/00000000000000003b9b377d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/f63880/00000000000000003b9b377d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
    font-family:"aileron";
    src:url("https://use.typekit.net/af/330f61/00000000000000003b9b377e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/330f61/00000000000000003b9b377e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/330f61/00000000000000003b9b377e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
    font-family:"aileron";
    src:url("https://use.typekit.net/af/98af24/00000000000000003b9b377f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/98af24/00000000000000003b9b377f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/98af24/00000000000000003b9b377f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:800;
}

@font-face {
    font-family:"aileron";
    src:url("https://use.typekit.net/af/234eca/00000000000000003b9b3780/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff2"),url("https://use.typekit.net/af/234eca/00000000000000003b9b3780/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff"),url("https://use.typekit.net/af/234eca/00000000000000003b9b3780/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:800;
}

@font-face {
    font-family:"aileron";
    src:url("https://use.typekit.net/af/8259f7/00000000000000003b9b3781/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/8259f7/00000000000000003b9b3781/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/8259f7/00000000000000003b9b3781/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:900;
}

@font-face {
    font-family:"aileron";
    src:url("https://use.typekit.net/af/1a7b51/00000000000000003b9b3782/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff2"),url("https://use.typekit.net/af/1a7b51/00000000000000003b9b3782/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff"),url("https://use.typekit.net/af/1a7b51/00000000000000003b9b3782/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:900;
}

.tk-aileron { font-family: "aileron",sans-serif; }